html{
	font-size: 1rem;
}

body{
margin: 0;
padding: 0;
width: 100%;
height: auto;
font-size: 1em;
}
h1 {
font-family:"Arvo";
font-weight:normal;
font-size: 3rem;
text-align: left;
color: #fff;
margin: 0;
padding: 0;
background: black;
position:fixed;
}
h2 {
font-family: 'Permanent Marker', cursive;
font-weight: normal;
font-size: 3.1rem;
text-align: center;
color: #fff;
margin: 0;
padding: 0;
}
h3 {
font-family: 'Permanent Marker', cursive;
font-weight: normal;
font-size: 1.5rem;
text-align: center;
margin: 5px 0;
padding: 0;
z-index: 1;
position: relative;
color: #fff;

}

#header {
width: 10%;

height: 10%;
position: fixed;
margin-top: 1em;
    display: block;
    float: left;
    text-align: right;
    padding-top: 2em;
    font-weight: 37.5em;
    color: #FFFFFF;
    padding-left: 0%;


}
#nav { width: 11em; float: right; margin-top: 1em; }

#nav ul{
list-style: none;
display: block;
margin: 0 auto;
list-style: none;
}
#nav li{
margin-top: 0.5em;
float: right;
padding-left: 1.25em;
padding-right:1em;
}
#nav li a { color: #fff; opacity:0.6; font-size: 1em; text-decoration: none; font-family: 'Wellfleet'; padding-left:0.0em;text-align: center;}
#nav li a.active { color: #fff; opacity:1; border-bottom: 1.5em; solid #fff; }
#nav li a:hover { color: orange; opacity:1; }

.black-box{
height: 12em;
width: 7em;
background: black;
padding-top: 0em ;
z-index: -1;
position:absolute;
radius:0.5em;

}

.quotes {
font-family: 'Goudy Bookletter 1911', serif;
font-weight: normal;
font-size: 1.1em;
text-align: left;
margin: 3em auto;
width: 50em;
}

#About_me{
font-family: 'Goudy Bookletter 1911', serif;
font-weight: normal;

font-size: 1em;
text-align: left;
// margin: 50px auto;
width: 25em;
float: right;

}


 .profile_pic img{ height: 25em; width: 22em;} 
 .quotes_container { width: 50em; margin: 0 auto; padding-top: 1em;}


#slide1, #slide2{ width: 100%; height:auto;  min-height: 100%;
  min-width: 64em; }
#slide1{
background:url('../img/IMG_0847 2.JPG') 100% 0 no-repeat;
color: #fff;

height: 37em;
margin: 0 auto;
padding: 12.5em 0 16.25em 0;
background-size: 100% 100%;
}
#slide2{
background: url(../img/wp2.jpg) 50% 0 no-repeat fixed;
color: #fff;
height: 37.5em;

margin: 0 auto;
overflow: hidden;
padding: 3.5em 0;
background-size: 100% 100%;
}
#slide3{
background: url(../img/wp2.jpg) 50% 0 no-repeat fixed;
color: #fff;
min-width: 64em;
margin:0 auto;
height: 37.5em;
padding: 4.5em 0;
background-size: 100% 100%;
}



#slide4{
background:  url(../img/wp2.jpg) 50% 0 no-repeat fixed;
color: #333333;
height: 37.5em;
min-width: 64em;
padding: 10.5em 0;
background-size: 100% 100%;
}
#slide5{
background: url(../img/wp2.jpg) 50% 0 no-repeat fixed;
height: 37.5em;
min-width: 64em;
margin: 0 auto;
padding: 1.5em 0;
background-size: 100% 100%;
}

#slide6{
background: url(../img/wp2.jpg) 50% 0 no-repeat fixed;
height: 37.5em;
min-width: 64em;
margin: 0 auto;
padding: 16.5em 0;
background-size: 100% 100%;
}

#contact_me a img{
	padding:0.63em;
	text-align: center;
}

